body{
	margin: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	background: #869f91;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}	
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  	position: absolute;

  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;

  	white-space: nowrap;

  	-webkit-clip-path: inset(100%);

  	        clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.button{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border-radius: 40px;
	border: none;
	padding: 10px 18px 10px 18px;
	cursor: pointer;

	background-color:#e84c36;
	background: -webkit-gradient(linear,left top, left bottom,from(#f16743),to(#e84c36));
	background: -webkit-linear-gradient(#f16743,#e84c36);
	background: -o-linear-gradient(#f16743,#e84c36);
	background: linear-gradient(#f16743,#e84c36);
  	color: #ffffff;
  	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}
.slider .button{
	padding: 12px 44px;
  	font-size: 32px;
  	line-height: 44px;
}
.button:hover{
	background: -webkit-gradient(linear,left top, left bottom,from(#f48568),to(#ed705e));
	background: -webkit-linear-gradient(#f48568,#ed705e);
	background: -o-linear-gradient(#f48568,#ed705e);
	background: linear-gradient(#f48568,#ed705e);
    
}
.button:focus{
	background: -webkit-gradient(linear,left top, left bottom,from(#d74632),to(#e0603e));
	background: -webkit-linear-gradient(#d74632,#e0603e);
	background: -o-linear-gradient(#d74632,#e0603e);
	background: linear-gradient(#d74632,#e0603e);
}
.button:active{
	background: -webkit-gradient(linear,left top, left bottom,from(#d74632),to(#e0603e));
	background: -webkit-linear-gradient(#d74632,#e0603e);
	background: -o-linear-gradient(#d74632,#e0603e);
	background: linear-gradient(#d74632,#e0603e);
}

.site-navigation,
.user-navigation {
	list-style: none;
}

.site-navigation__link{
  	color: #ffffff;
  	font-weight: bold;
  	font-size: 16px;
	line-height: 18px;
	display: block;
	
	margin: 22px 0px 22px 28px;
	border-bottom: 1px rgba(255, 255, 255, 0.36) solid;
	
}
.site-navigation__link:hover{
	color: #323232;
	background-color: #ffffff;
	border-radius: 40px;
	padding: 10px 15px 10px 18px;
	margin: 12px -15px 12px 10px;
}
.site-navigation__link:focus{
	-webkit-box-shadow: inset 0px 2px 1px 0 #696969;
	        box-shadow: inset 0px 2px 1px 0 #696969;
	color: #323232;
	background-color: #ffffff;
	border-radius: 40px;
	padding: 10px 15px 10px 18px;
	margin: 12px -15px 12px 10px;
}

.site-navigation-current{
	background-color: #d07058;
	color: #ffffff;
	font-weight: bold;
	display: block;
  	padding: 10px 15px 10px 18px;
  	margin: 12px 0px 12px 10px;
  	font-size: 16px;
	line-height: 18px;
	border-radius: 40px;
}
.next-current {
    margin-left: -10px;
}
.site-navigation__item{
	
	position: relative;
}
.submenu{
	display:none;
	font-size: 14px;
	line-height: 16px;


	list-style: none;
	text-align: left;
	padding: 15px 0px 10px 0px;

	width: 143px;
	position: absolute;

	z-index: 1;
  	
	top:60px;
	left: 5px;
	color: #323232;
	background-color: #f8f7f4;
	-webkit-box-shadow: 10px 20px 60px 0px #55665c;
	        box-shadow: 10px 20px 60px 0px #55665c;
	border-radius: 5px;
}
 .submenu__item{
	margin-bottom:7px;
	padding: 6px 0px;
	font-weight: normal;
 }
.submenu__link{
	display: block;	
	color: #323232;
	margin-left: 20px;	
}
.submenu li:nth-child(1){
	margin-bottom:10px;
	font-weight: bold; 
	position: relative;
 }
.submenu li:nth-child(1):after {
  	position: absolute;
  	content: '';
  	width: 80%;
  	height: 1px;
  	background: #999999;
  	bottom: -10px;
  	left: 15px;
}
 .submenu li:last-child{
	margin-bottom:0px;
}
.submenu__item:hover{
	background-color: #fbded7;
	color: #323232;
}
.submenu__item:focus,
.submenu__item:active{
	background-color: #f6b5a5;
	color: #323232;
}
.submenu__item-current{
	background-color: #d07058;
	color: #323232;
}
.site-navigation__item:hover .submenu,
.site-navigation__item:active .submenu,
.site-navigation__item:focus .submenu,
.site-navigation__item:visited .submenu{
	display: block;
}
.submenu .current{
	background-color: #f6b5a5;
	color: #323232;
}
/*!!!!Необходимо добавить активным ссылкам класс .submenu__item-current на страницах*/
/******************************************************/
.user-navigation-link,
.user-entrance-link,
.user-basket-link{
	display: block;
	color: #ffffff;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	background-color: rgba(255, 255, 255, 0.36);
	border-radius: 40px;	
	height: 33px;
}
.user-navigation-find{
	position: relative;
	width: 33px;
	height: 33px;
}
.after-find:after{
	content:'';
  position: absolute;
  left: 0px;
  top: 6px;
  background-image: url(../img/loupe.svg);
  background-position: top center;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;

}
.after-find:hover:after,
.after-find:focus:after,
.after-find:active:after{
	background-image: url(../img/loupe-black.svg);
}
.user-find{
	background-color:#f8f7f4;
	color: #323232;
	-webkit-box-shadow: 10px 20px 60px 0px #55665c;
	        box-shadow: 10px 20px 60px 0px #55665c;
	border-radius: 5px;
	padding: 20px 10px 20px 10px;
 	z-index: 1;
	top:37px;
	left: -301px;
	position: absolute;
}
.user-find{
	display: none;
}
.user-navigation-find:active .user-find,
.user-navigation-find:hover .user-find,
.user-navigation-find:focus .user-find{
	display: block;
}
/*************************************************/
.user-navigation-entrance{
	position: relative;
	margin: 0 8px 0 6px;
}
.after-entrance:after {
  	content:'';
  	position: absolute;
  	left: 22px;
  	top: 6px;
  	background-image: url(../img/entrance-white.svg);
	background-position: top center;
	background-repeat: no-repeat;
  	width: 20px;
	height: 20px;
}
.after-entrance:hover:after{
	background-image: url(../img/entrance.svg);
}
.after-entrance:focus:after{
	background-image: url(../img/entrance.svg);
}
.wrapper-user-entrance{
	display: none;
}
.user-navigation-entrance:hover .wrapper-user-entrance {
  	display: block;
}
.after-basket:after {
  	content:'';
  	position: absolute;
  
  	left: 18px;
  	top: 6px;
  	background-image: url(../img/basket.svg);
	background-position: top center;
 	background-repeat: no-repeat;
  	width: 20px;
  	height: 20px;
}
.after-basket:hover:after,
.after-basket:focus:after,
.after-basket:active:after{
	background-image: url(../img/basket-black.svg);
}
.user-entrance{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	background-color:#f8f7f4;
	color: #323232;
	-webkit-box-shadow: 10px 20px 60px 0px #55665c;
	        box-shadow: 10px 20px 60px 0px #55665c;
	border-radius: 5px;
	padding: 20px 17px 20px 19px;

	z-index: 1;
	position: absolute;
	width: 277px;
	top:37px;
	left: -175px;
}
.user-entrance input{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	font-size: 14px;
  	line-height: 24px;
  	border-radius: 5px;
	border: 1px rgba(178, 178, 178, 0.52) solid;
	padding: 10px;
	margin-bottom: 20px;
	width: 241px;
}

.wrapper-entrance{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
}
.right-wrapper-entrance{
	font-size: 13px;
	line-height: 24px;
	width: 130px;
}
/*******************************************************/
.user-entrance-link,
 .user-basket-link{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	text-align: center;
	min-width: 99px;
	display: block;
	padding: 8px 0px 8px 28px;	
}
.user-navigation-basket{
	position: relative;
}
.user-navigation-basket-full{
	position: relative;
}
.basket-full-link{
	display: block;
	background-color: #f8f7f4;
	color: #323232;
	border-radius: 40px;
	padding: 8px 15px 8px 40px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.basket-full-link svg{
	position: absolute;
	top:7px;
	left: 13px;
}
.basket{
	display: none;
	position: absolute;
	top:37px;
	right: 0px;
	width: 540px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	background-color:#f8f7f4;
	color: #323232;
	-webkit-box-shadow: 10px 20px 60px 0px #55665c;
	        box-shadow: 10px 20px 60px 0px #55665c;
	border-radius: 5px;
	padding: 20px 12px 20px 15px;
	z-index: 1;
}
.user-navigation-basket-full:hover .basket{
  	display: block;
}
.wrap-basket{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	margin-bottom: 20px;
	position: relative;
	padding-left: 30px;
}
.image-basket{
	width: 33px;
	height: 33px;
}
.wrap-basket .close{
	position: static;
}
.product-name{
	margin-right: 5px;
	margin-top: 7px;
	width: 232px;
	font-size: 13px;
	line-height: 16px;
	color:#323232;
}
.product-price{
	margin-right: 15px;
	margin-top: 7px;
	font-size: 13px;
	line-height: 16px;
	color:#323232;
}
.product-price span{
	color: #999999;
}
.buy:before{
  	position: absolute;
  	top:130px;

  	content: '';
  	width: 510px;
  	height: 1px;
  	opacity: 0.3;
  	background-color:#cacac7;
}
.buy{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
}
.check{
	-ms-flex-item-align:end;
	    align-self:flex-end;
	
	margin: 11px 0px 15px 0px;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
}
.buy .button{
	-ms-flex-item-align:end;
	    align-self:flex-end;
	padding: 10px 15px 10px 15px;
}
.but{
	border: none;
	background-color: transparent;
	position: absolute;
	top: 4px;
    left: -5px;
    width: 12px;
    height: 19px;
}
/*******************************************************/

.user-find input{
	border-radius: 5px;
	border: 1px rgba(178, 178, 178, 0.52) solid;
	padding: 10px;
	font-size: 14px;
	line-height: 24px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
  	width: 311px;
}

.subscription-container input,
.feedback input{

	font-size: 16px;
  	line-height: 24px;

	border-radius: 5px;
	border: 1px rgba(178, 178, 178, 0.52) solid;
}
.subscription-container input:hover,
.user-navigation input:hover,
.feedback input:hover{
	border: 1px rgba(154, 154, 154, 0.52) solid;
	-webkit-box-shadow: inset 0 0 1px 1px rgba(154,154,154,.52);
	        box-shadow: inset 0 0 1px 1px rgba(154,154,154,.52);

}
.subscription-container input:focus,
.subscription-container input:active,
.user-navigation input:focus,
.user-navigation input:active,
.feedback input:focus,
.feedback input:active{
	border: 1px rgba(46, 136, 228, 0.52) solid;
	-webkit-box-shadow: inset 0 0 1px 1px rgba(46,136,228,.52);
	        box-shadow: inset 0 0 1px 1px rgba(46,136,228,.52);


}
.subscription-container input:not(:placeholder-shown),
.user-navigation input:not(:placeholder-shown),
.feedback input:not(:placeholder-shown){
	border: 1px rgba(178, 178, 178, 0.52) solid;
 }
.user-basket-link:hover,
.user-entrance-link:hover,
.user-navigation-link:hover,
.user-entrance-link:focus,
.user-basket-link:focus,
.user-navigation-link:focus,
.user-basket-link:active,
.user-entrance-link:active,
.user-navigation-link:active{
	color: #323232;
	background-color: #ffffff;
}

/************************************************/
.time{
	font-size: 14px;
	line-height:16px;
	font-weight: bold;
	margin: 0;
}
.phone{
	font-size: 22px;
	line-height:24px;
	font-weight: bold;
	margin-top: 5px;
} 
/************************************************/
.link-green-ground{
	list-style: none;
	color: #ffffff;
	border-bottom: 1px rgba(255, 255, 255, 0.36) solid;
}
.link-green-ground:hover,
.link-green-ground:focus,
.link-green-ground:active{
	color: #ffbc9e;
	border-bottom: 1px #ffbc9e solid;
}
.link-white-ground{
	list-style: none;
	color: #323232;
	border-bottom: 1px #b2b2b2 solid;

}
.link-white-ground:hover,
.link-white-ground:focus,
.link-white-ground:active{
	color: #e84d37;
	border-bottom: 1px #e84d37 solid;
}
/**********************************************/

.info{
	background-image: url(../img/wafer-fon.jpg);
	background-position: top center;
 	background-repeat: no-repeat;
 	background-color: #eae3c7;
 	background-size: cover;
 	color: #323232;

 	border-radius: 15px;

	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	padding: 27px 18px 23px 20px;

	-webkit-box-sizing:border-box;

	        box-sizing:border-box;
	margin: 0px;
}
.info-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
}
.info-list{
	margin: 0;
	padding: 0;
}
.info-list{
	list-style: none;
}
.info-list-item{
	width: 485px;
	position: relative;
	padding-left: 58px;
    padding-top: 22px;
}
.info-list-item svg{
	position: absolute;
	left:0px;
	top:8px;
}
.info-list-item p{
	margin: 0;
	padding: 0;
}
.info h3{
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	font-weight: 500;
}
/********************************************************/
.blog{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	background-image: url(../img/blog-fon.jpg);
	background-position: top center;
 	background-repeat: no-repeat;
 	padding: 24px 0px 20px 20px;
 	border-radius: 15px;
 	margin: 0;

	width: 560px;
	margin-right: 26px;
 	background-color: #ffffff;
 	color: #323232; 
}
.blog h2{
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}	 
.blog a{
	display: block;
	color: #323232; 
	text-decoration: underline;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	width: 300px;
	border-bottom: none;
}
.blog a:hover{
	border-bottom: none;
}

/*********************************************************/
.container-blog-subscription{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	margin: 40px 0px;
}
.subscription{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	width: 560px;
	border-radius: 15px;

	background-image: url(../img/bg-post.svg);
	background-position: top center;
 	background-repeat: no-repeat;
	padding: 5px;
}
.subscription-container{
	border-radius: 15px;
	padding: 12px 20px 15px 22px;
	background-color: #f8f7f4;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #5a5a5a;
}
.subscription-container p{
	margin-top: 16px;
	margin-bottom: 36px;
}
.subscription-container input{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	width: 366px;
	padding: 10px;
	margin-right: 13px;
}
.subscription-container form{
	margin-bottom: 18px;
}
.subscription-container button{
	padding: 10px 15px 10px 15px;
}
/**********************************************************/
.maps{
	position: relative;
	margin: 0;
	background-image: url(../img/map.png);
	width: 1200px;
	height: 430px;
}
.adres{	
	position: absolute;
	top:63px;
	left: 871px;

	width: 305px;
	padding: 30px 20px 30px 30px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;

	background-color:#f8f7f4;
	color: #323232;
	-webkit-box-shadow: 10px 20px 60px 0px #55665c;
	        box-shadow: 10px 20px 60px 0px #55665c;
	border-radius: 15px;
	font-size: 14px;
	line-height: 20px;
}
.adres ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.adres b{
	font-size: 18px;
	line-height: 24px;	
}
.adres-item{
	margin-bottom: 18px;
}
.adres-item-1{
	margin-bottom: 6px;
}
.adres-item-2{
	margin-bottom: 20px;
	line-height: 22px;
}
.adres .button{
	display: block;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 0px;
	padding: 12px 20px 12px 20px;
}

.adres .link-white-ground{
	font-size: 18px;
	line-height: 22px;
	border-bottom: none;
	font-weight: bold;
}
/******************************************************/
.social {
	list-style: none;
}
.social__link--twitter{
	background-image: url(../img/twitter.svg);
 	background-repeat: no-repeat;
 }
.social__link--instagram{
	background-image: url(../img/instagram.svg);
 	background-repeat: no-repeat;
 }
.social__link--facebook{
	background-image: url(../img/fb.svg);
 	background-repeat: no-repeat;
 }
.social__link--vkontakte{
	background-image: url(../img/vk.svg);
 	background-repeat: no-repeat;
 }
 .container-social-links-web{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	margin: 0px 27px;	
}

.social{
	padding: 36px 0px 29px 0px;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
	-ms-flex-wrap:wrap;
	
	    flex-wrap:wrap;
	min-width: 245px;
}
.social a{
	display: block;
	border:3px rgba(255, 255, 255, 0.46) solid;
	border-radius: 50%;
	width: 32px;
	height:32px;
	margin-right: 11px;
}


.social__link:hover path {
  	fill: #ffffff;  
}
.social__link:hover,
.social__link:focus{
	border:3px rgba(255, 255, 255, 0.36) solid;
}
.social__link:focus path {
  	fill: rgba(255, 255, 255, 0.56);  

}
/*************************catalog.html********************/

.catalog{
	margin: 0;
	font-size: 35px;
  	line-height: 41px;
  	font-weight: bold;

}
.catalog-page{
	margin: 0px 27px;
}
.products-list{
	list-style: none;
}
.catalog-item{
	list-style: none;
	color: #ffffff;
	
	font-size: 16px;
  	line-height: 22px;
	font-weight: normal;
}
.price{
	font-size: 45px;
  	line-height: 45px;
	font-weight: bold;
	color: #ffffff;
}
.price span{
	font-size: 30px;
	margin-left: -12px;
}
.price svg{
	margin-left: -8px;
}
.products-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	padding: 0;
	position: relative;
	
}
.products-item {
	width: 267px;
	position: relative;
}
.fast-see{
	display: none;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
   	width: 200px;
   	position: absolute;
   	top: 328px;
   	left: 36px;
   	padding: 12px 16px 12px 16px;
   	z-index: 101;
}
.ice-cream-item-inner:hover {
    z-index: 100;
}
.products-item:hover .fast-see, .products-item:hover::before {
    display: block;
}
.products-item::before {
    display: none;
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -65px;
    background-color: rgba(248, 247, 244, 0.3);
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    -webkit-box-shadow: 0 20px 20px rgba(50, 50, 50, 0.3);
            box-shadow: 0 20px 20px rgba(50, 50, 50, 0.3);
    padding-bottom: 20px;
}
.products-list-link{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-ms-flex-line-pack:justify;
	    align-content:space-between;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;

	width: 267px;
	min-height: 345px;	
}
.products-item .hit{
	-webkit-box-ordinal-group:2;
	    -ms-flex-order:1;
	        order:1;
}
.price{
	margin-top: 150px;
	margin-bottom: 20px;
	-webkit-box-ordinal-group:3;
	    -ms-flex-order:2;
	        order:2;
}
.inner-page .price{
	margin-top: 215px;
	margin-bottom: 15px;
	-webkit-box-ordinal-group:3;
	    -ms-flex-order:2;
	        order:2;
}
.inner-page .products-item{
	margin-bottom: 15px;
}
.inner-page .products-list{
	margin-bottom: 35px;
}
.products-item h3{
	margin: 0;
	text-align: center;
	font-weight: 500;
	text-decoration: underline;
	-webkit-box-ordinal-group:4;
	    -ms-flex-order:3;
	        order:3;
	
}
.products-view{
	position: absolute;
	top:0;
	left:0;
}
.products-item .hit,
.products-item p,
.products-item h3{
	z-index: 3;
}

/******************Footer*******************************/
.main-navigation{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap:nowrap;
	    flex-wrap:nowrap;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	margin: 9px 27px 0px 27px;
}
.site-navigation{
	padding: 0;
	margin: 0px 0px 0px -7px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack:start;

	    -ms-flex-pack:start;

	        justify-content:flex-start;
	width: 725px;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
}
.site-navigation-logo{
	width: 154px;
	height: 64px;
}
.user-navigation{
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 15px;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
	width: 267px; 
}
/***********************************************************/
.inner-page .container-number{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 27px;
	width: 1146px;	
}
.inner-page .wrapper-number{
	margin-right: 0;
}
.breadcrumbs{
	list-style: none;
	padding: 0;
	padding-top: 20px;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack:start;

	    -ms-flex-pack:start;

	        justify-content:flex-start;
	font-size: 14px;
  	line-height: 16px;
  	font-weight: normal;
  	min-width: 267px;
}
.breadcrumbs .link-green-ground,
.breadcrumbs-current{
	margin-right: 5px;
}
.wrapper-number{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align:end;
	    -ms-flex-align:end;
	        align-items:flex-end;
	margin-left: auto;
	width: 267px;
	margin-right: 27px;

}
.breadcrumbs span{
	margin-right: 5px;
}
/*******************Формы КАТАЛОГ************************************/
.forms{
	margin-bottom: 40px;
}
.forms p{
	margin: 0px 0px 0px 16px;
	margin-bottom: 5px;
	font-weight: 500;
}
.wrapper-forms-up,
.wrapper-forms-down{
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
}
.wrapper-forms-up{
	margin-bottom: 15px;
	margin-top: 25px;
}
.sorting{
	position: relative;
	min-width: 194px;
	margin-right: 14px;
}
.fat{
	min-width: 415px;
	margin-right: 14px;
}
.extender{
	min-width: 703px;
	margin-right: 14px;
}
.fat-items,
.extender-items{
	color: #ffffff;
	font-weight: normal;
	background-color: #a1b4a9;
	border-radius: 40px;
	padding: 9px 0px 9px 12px;
	font-size: 16px;
	line-height: 18px;
	border: none;
}
.range{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	width: 220px;
	margin-right: 14px;
	height: 37px;
	color: #ffffff;
	font-weight: normal;
	background-color: #a1b4a9;
	border-radius: 40px;
	padding: 16px 16px 0px 16px;
	font-size: 16px;
	line-height: 18px;
	border: none;
}
.range__block {
	
  	position: relative;
  	width: 176px;
}
.range__first {
  	background: #d1dad3;
  	width: 176px;
  	height: 3px;
}
.range__second {
  	background: #ffffff;
  	width: 107px;
  	height: 3px;
  	position: absolute;
  	top: 0;
  	left: 50px
}
.prev,
.next {
  	font-size: 0;
  	width: 20px;
  	height: 20px;
  	border: none;
  	border-radius: 50%;
  	position: relative;
  	cursor: pointer;
}
.prev:after,
.next:after{
  	position: absolute;
  	content: '';
  	width: 5px;
  	height: 5px;
  	background: #999999;
  	border-radius: 50%;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	    -ms-transform: translate(-50%, -50%);
  	        transform: translate(-50%, -50%);
}
.prev {
  	left: 145px;
    top: -10px;
}
.next {
  left: 10px;
  top: -10px;
}
.sorting-select{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	background: #a1b4a9;
  	width: 194px;
  	border-radius: 15px;
}
.sort{
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	color: #ffffff;
	font-weight: normal;
	background-color: transparent;
	border-radius: 40px;
	padding: 9px 51px 9px 16px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	border: none;
	 appearance: none;
 	-webkit-appearance: none;
 	-moz-appearance: none;
} 
.sort option{
	font-size: 14px;
	line-height: 16px;
}
.sorting:after {
  	content:'';
  	position: absolute;
  	left: 168px;
  	top: 35px;
  	background:url(../img/icon-down-dir.svg);
	width: 194px;
  	width: 10px;
  	height: 10px;
}
.sort:focus {
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	width: 194px;
  	color: black;
  	background: white;
}

.wrapper-forms-button{
	-ms-flex-item-align:end;
	    align-self:flex-end;
}
.forms-button{
	color: #ffffff;
	font-weight: 500;
	background-color: #a1b4a9;
	border-radius: 40px;
	padding: 8px 30px 8px 30px;
	font-size: 16px;
	line-height: 18px;
	border: 1px #ffffff solid;
}
.forms-button:hover{
	color: #323232;
	background-color: #ffffff;
	border-radius: 40px;
	
}
.forms-button:focus,
.forms-button:active{
	-webkit-box-shadow: inset 0px 2px 1px 0 #696969;
	        box-shadow: inset 0px 2px 1px 0 #696969;
  	background-color: #ededed;
	color: #323232;
	border: none;	
}
.extender-checkbox{
	position: relative;

	padding-left: 30px;
	margin-right: 20px;
	cursor: pointer;
}
.extender-checkbox input[type="checkbox"] + .checkbox-indicator {
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
  	position: absolute;
  	top: -1px;
  	left: 0;
  	width: 28px;
  	height: 23px;
  	background-image: url(../img/checkbox-off.svg);
  	background-repeat: no-repeat;
  	background-position: center;
}
.extender-checkbox input[type="checkbox"]:checked ~ .checkbox-indicator {
  	background-image: url(../img/checkbox-on.svg);
  	background-repeat: no-repeat;
  	background-position: center; 	
}

.checkbox-indicator,
.radio-indicator{
	opacity: 0.8;
}
.checkbox-indicator:hover,
.radio-indicator:hover{
	opacity: 1;
	margin-right: 13px;
}

.checkbox-indicator:focus,
.radio-indicator:focus{
	outline: 3px solid #225bc4;
}
.checkbox-indicator:disabled,
.radio-indicator:disabled{
	opacity: 0.4;
}

.fat-radio{
	position: relative;
	padding-left: 30px;
	margin-right: 16px;
	cursor: pointer;
}
 .fat-items label:last-child{
	margin-right:0px;
}
.fat-radio input[type="radio"] + .radio-indicator {
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
  	position: absolute;
  	top: -3px;
  	left: 0;
  	width: 25px;
  	height: 25px;
  	background-image: url(../img/radio-off.svg);
  	background-repeat: no-repeat;
  	background-position: center;
}
.fat-radio input[type="radio"]:checked ~ .radio-indicator {
  	background-image: url(../img/radio-on.svg);
  	background-repeat: no-repeat;
  	background-position: center; 
}
.forms-item{
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}
/***********************************************************/
.sentence-list{
	list-style: none;
	padding: 0;
	margin-bottom: 40px;
	margin-top: 35px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
}
.berry{
	background-color: #bf212c;
	background-image:url(../img/strawberry-fon.jpg);
	background-repeat: no-repeat;
	background-position: center;
	
	background-size: cover;
	margin-right: 26px;
	border-radius: 15px;

	width: 540px;
	padding: 16px 20px 0px 20px;

	position: relative;
}
.chocolate{
	background-color: #83413e;
	background-image:url(../img/chocolate-fon.jpg);

	width: 540px;
	padding: 16px 20px 0px 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 15px;

	position: relative;
}

.berry a,
.chocolate a{
	position: absolute;
	right: 20px;
	bottom: 25px;

}

.sentence-list h3{
	font-size: 35px;
	line-height: 41px;
	margin: 0;
}
.berry-text,
.chocolate-text{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	margin: 12px 0px 115px 0px;
}

/****************************************************/
.links{
	list-style: none;
	padding: 35px 0px 31px 0px;
	margin: 0;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;

	width: 336px;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
}
.links__item{
	min-width: 133px;
	font-size: 13px;
  	line-height: 18px;
  	font-weight: normal;
  }

.links__item svg{
	position: absolute;
	left: -30px;
}
.heard{
	position: relative;
	font-weight: bold;
}
/***************************************************/
.web{
	width: 195px;
	margin-top: 17px;
	font-size: 12px;
	line-height:18px;

}
.htmlacademy-logo{
	width: 108px;
	height: 39px;
}
.web-item{
	margin: 0;
}
/******************Слайдер*************************/
 .wrapper {
	width: 1200px;
  	margin: auto;
}
.visually-hidden {
  	position: absolute;

  	width: 1px;
  	height: 1px;

  	clip: rect(0, 0, 0, 0);
}
.site-wrapper {
	padding-top: 1px;
  	min-width: 940px;
  	background-color: #849d8f;
  	background-image: url(../img/slider1.png);
  	background-repeat: no-repeat;
  	background-position: top center;
  	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  	-o-transition: background-image 0.5s ease, background-color 0.5s ease;
  	transition: background-image 0.5s ease, background-color 0.5s ease;

}
.container {
  	width: 1200px;
  	margin: 0 auto;
  
}
.slider {
  	position: relative;
  
  	padding-top: 278px;
  
  	text-align: center;
  	color: #ffffff;
}

.slider-list {
  	margin: 0;
  	padding: 0;
  
  	list-style: none;
}
.slide {
  	display: none;
}
.slide-title {
  	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 30px;
  
  	font-size: 60px;
  	line-height: 60px;
  	font-weight: 800;
}
.slider-controls {
  	position: absolute;
  	bottom: 27px;
  	left: 0;
  	z-index: 20;
  
  	font-size: 0;
}
.slider-controls label {
  	display: inline-block;
  	width: 17px;
  	height: 17px;
  	margin-right: 8px;

  	vertical-align: top;

  	background-color: transparent;
  	border: 2px solid #ffffff;
  	border-radius: 50%;
  	cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  	background-color: #849d8f;
  	background-image: url(../img/slider1.png);
}

#product-2:checked ~ .site-wrapper {
  	background-color: #8996a6;
  	background-image: url(../img/slider2.png);
}

#product-3:checked ~ .site-wrapper {
  	background-color: #a58c85;
  	background-image: url(../img/slider3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  	background-color: #ffffff;
}
.site-wrapper::before,
.site-wrapper::after {
  	content:'';

  	visibility: hidden;
}

.site-wrapper::before {
  	background-image: url(../img/slider2.png);
}

.site-wrapper::after {
  	background-image: url(../img/slider3.png);
}
/******************************************/
.feedback{
	display: none;
	position: fixed;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	top: 50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	    -ms-transform:translate(-50%, -50%);
	        transform:translate(-50%, -50%);
	z-index: 4;
	

	width: 478px;
	min-height: 443px;

	background-color:#f8f7f4;
	color: #323232;
	-webkit-box-shadow: 10px 20px 60px 0px #55665c;
	        box-shadow: 10px 20px 60px 0px #55665c;
	border-radius: 10px;
	padding: 20px 24px 20px 24px;
}
.feedback-button:active .feedback,
.feedback-button:focus .feedback{
	display: block;
}
.feedback h2{
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 500;
}
.close {
  	position: absolute;
  	top: 17px;
  	right: 17px;
  
  	width: 18px;
  	height: 18px;

  	font-size: 0;

  	background-color: transparent;
  	border: 0;

  	cursor: pointer;
}

.close::before,
.close::after {
  	content:'';

  	position: absolute;
  	top: 10px;
  	left: 2px;

  	width: 18px;
  	height: 3px;

  	background-color: #323232;
}

.close::before {
  	-webkit-transform: rotate(45deg);
  	    -ms-transform: rotate(45deg);
  	        transform: rotate(45deg);
}

.close::after {
  	-webkit-transform: rotate(-45deg);
  	    -ms-transform: rotate(-45deg);
  	        transform: rotate(-45deg);
}
.feedback input{
	border-radius: 5px;
	border: 1px rgba(178, 178, 178, 0.52) solid;
	padding: 10px;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
  	width: 267px;
}
.feedback textarea{
	border-radius: 5px;
	border: 1px rgba(178, 178, 178, 0.52) solid;
	padding: 10px;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 25px;
	resize:vertical;

	-webkit-box-sizing: border-box;

	        box-sizing: border-box;
  	width: 428px;
  	height: 155px;
}
.wrapp-button{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
}
/*****************Pagination*******************************************/


.pagination{
	position: relative;
	padding: 0;
}

.pagination-list{
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
	color: #323232;
	
}
.pagination-item__back{
	display: block;
	margin: 22px 0px 22px 20px;
	width: 8px;
  	height: 12px;
  	background-image: url(../img/icon-right-small.svg);
}
.pagination-item__back {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pagination-item__forward{
	display: block;
  	width: 8px;
  	height: 12px;
    margin: 22px 0px 22px 20px;
  	background-image: url(../img/icon-right-small-white.svg);
}

.pagination-item__link{
  	color: #ffffff;
  	font-weight: 500;
  	font-size: 16px;
	line-height: 18px;
	display: block;
	
	margin: 22px 0px 22px 20px;
	border-bottom: none;
	
}
.pagination-item__link:hover{
	color: #ffffff;
	background-color: #aabbb1;
	border-radius: 40px;
	padding: 10px 15px 10px 15px;
	margin: 12px -15px 12px 5px;
}

.pagination-item__link:focus{
	color: #323232;
	background-color: #ffffff;
	border-radius: 40px;
	padding: 10px 15px 10px 15px;
	margin: 12px -15px 12px 5px;
}
.pagination:after{
  position: absolute;
  top:70px;

  content: '';
  width: 100%;
  height: 1px;
  opacity: 0.3;
  background-color: #ffffff;
  
}
/************************************************/
.phone{
	border-bottom: none;
}
.phone:hover{
	border-bottom: none;
}
