body{
	margin: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;

	background: #869f91;
}

a{
	text-decoration: none;
}



.button{
	font: inherit;

	text-align: center;
	vertical-align: middle;
	border-radius: 40px;
	padding: 22px 44px 22px 44px;
	
	background-color: #f03708;
	

  	color: #ffffff;
  	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}
.slider .button{
	font-size: 32px;
	line-height: 44px;
}
.button:hover{
  background-color: #ad6655;
    
}
.button:focus{
background-color: #ad6655;	
}
.button:active{
  background-color: #85240c;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation__link {
  	color: #ffffff;
  	font-weight: bold;
  	padding: 10px 15px 10px 15px;
  	font-size: 16px;
	line-height: 18px;

}
.site-navigation__link:hover{
	color: #323232;
	background-color: #ffffff;
	border-radius: 40px;
}
.site-navigation__link:focus{
box-shadow: inset 3px 4px 5px #8b8989;
}
.site-navigation__link:active{
box-shadow: inset 3px 4px 5px #8b8989;
}
.site-navigation-current{
background-color: #d07058;
color: #ffffff;
}
.submenu{
/*display: none;*/
list-style: none;

color: #323232;
background-color: #f8f7f4;
box-shadow: 10px 20px 60px 0px #55665c;
}

.submenu__link{
color: #323232;

}
.submenu li:nth-child(1){
font-weight: bold; 
 }
.submenu__item:hover{
background-color: #fbded7;
color: #323232;
}

.submenu__item:focus,
.submenu__item:active{
background-color: #f6b5a5;
color: #323232;
}
.submenu__item-current{
background-color: #d07058;
color: #323232;
}

/*!!!!Необходимо добавить активным ссылкам класс .submenu__item-current на страницах*/
.user-navigation a{
color: #ffffff;
font-weight: bold;
padding: 10px 15px 10px 15px;
font-size: 14px;
line-height: 16px;
background-color: #a1b4a9;
border-radius: 40px;	
}
.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active{
color: #323232;
background-color: #ffffff;
}

.link-greenfon{
	list-style: none;
	color: #ffffff;
	border-bottom: 1px #b5c4bc solid;
}
.link-greenfon:hover,
.link-greenfon:focus,
.link-greenfon:active{
	color: #ffbc9e;
	border-bottom: 1px #ffbc9e solid;
}
.link-whitefon{
	list-style: none;
color: #323232;
	border-bottom: 1px #b2b2b2 solid;

}
.link-whitefon:hover,
.link-whitefon:focus,
.link-whitefon:active{
	color: #e84d37;
	border-bottom: 1px #e84d37 solid;
}

.info{
	 background-image: url("img/wafer-fon.jpg");
	 background-position: top center;
 	 background-repeat: no-repeat;
	background-color: #eae3c7;
	color: #323232;

	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.info-list{
	list-style: none;
}
.info p{
font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}
	
.blog{
	background-image: url("img/blog-fon.jpg");
	 background-position: top center;
 	 background-repeat: no-repeat;

 	background-color: #ffffff;
 	color: #323232; 
}
.blog h2{
	font-size: 16px;
	line-height: 22px;
	font-weight: medium;
}	 
.blog a{
	color: #323232; 
	text-decoration: underline;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}
.subscription{
	background-image: url("img/bg-post.svg");
}
.subscription-conteiner{
	border-radius: 10px;
  background-color: #f8f7f4;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;


}

.subscription-conteiner input,
.user-navigation input,
.feedback input{
	font-size: 16px;
  	line-height: 24px;

	border-radius: 5px;
	border: 1px rgba(178, 178, 178, 0.52) solid;
}
.subscription-conteiner input:hover,
.user-navigation input:hover,
.feedback input:hover{
	border: 2px rgba(154, 154, 154, 0.52) solid;
}
.subscription-conteiner input:focus,
.subscription-conteiner input:active,
.user-navigation input:focus,
.user-navigation input:active,
.feedback input:focus,
.feedback input:active{
	border: 2px rgba(46, 136, 228, 0.52) solid;
}
.subscription-conteiner input:not(:placeholder-shown),
.user-navigation input:not(:placeholder-shown),
.feedback input:not(:placeholder-shown){
	border: 1px rgba(178, 178, 178, 0.52) solid;
 }









