body{
	margin: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;

	background: #869f91;
}

a{
	text-decoration: none;
}
.popup{
	display: none;
}
.button{
	font: inherit;

	text-align: center;
	vertical-align: middle;
	border-radius: 40px;
	padding: 22px 44px 22px 44px;
	
	background-color: #f03708;
	

  	color: #ffffff;
  	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}
.slider .button{
	font-size: 32px;
	line-height: 44px;
}
.button:hover{
  background-color: #ad6655;
    
}
.button:focus{
background-color: #ad6655;	
}
.button:active{
  background-color: #85240c;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a{
  	color: #ffffff;
  	font-weight: bold;
  	padding: 10px 15px 10px 15px;
  	font-size: 16px;
	line-height: 18px;
}
.site-navigation a:hover{
	color: #323232;
	background-color: #ffffff;
	border-radius: 40px;
}
.site-navigation a:focus{
box-shadow: inset 3px 4px 5px #8b8989;
}
.site-navigation a:active{
box-shadow: inset 3px 4px 5px #8b8989;
}
.site-navigation-current{
background-color: #d07058;
color: #ffffff;
}

.user-navigation a{
color: #ffffff;
font-weight: bold;
padding: 10px 15px 10px 15px;
font-size: 14px;
line-height: 16px;
background-color: #a1b4a9;
border-radius: 40px;	
}
.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active{
color: #323232;
background-color: #ffffff;
}


























